/dts-v1/;
/*
 * Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

#include "qcom-ipq6018.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ6018/AP-CP01-C2";
	compatible = "qcom,ipq6018-cp01", "qcom,ipq6018";
	interrupt-parent = <&intc>;

	chosen {
		bootargs = "console=ttyMSM0,115200,n8 nosmp clk_ignore_unused rw init=/init";
		bootargs-append = " swiotlb=1";
	};

	/*
	 * +=========+==============+========================+
	 * |        |              |                         |
	 * | Region | Start Offset |          Size           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * | Linux  |  0x41000000  |         117MB           |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * | TZ App |  0x48500000  |           2MB           |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * | LPASS  |              |                         |
	 * |   Q6   |  0x48700000  |          26MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 *
	 * From the available 145 MB for Linux in the first 256 MB,
	 * we are reserving 26 MB for LPASS and 2 MB for TZAPP.
	 *
	 * Refer arch/arm64/boot/dts/qcom/qcom-ipq6018-memory.dtsi
	 * for memory layout.
	 */

	reserved-memory {
		tzapp:tzapp@48500000 {	/* TZAPPS */
			no-map;
			reg = <0x0 0x48500000 0x0 0x00200000>;
		};

		lpass@48700000 {
			no-map;
			reg = <0x0 0x48700000 0x0 0x01a00000>;
		};
	};
};

&psci {
	status = "disabled";
};

&CPU0 {
	compatible = "arm,cortex-a53";
	enable-method = "qcom,arm-cortex-acc";

	L2_0: l2-cache {
		compatible = "arm,arch-cache";
	};
};

&CPU1 {
	compatible = "arm,cortex-a53";
	enable-method = "qcom,arm-cortex-acc";
};

&CPU2 {
	compatible = "arm,cortex-a53";
	enable-method = "qcom,arm-cortex-acc";
};

&CPU3 {
	compatible = "arm,cortex-a53";
	enable-method = "qcom,arm-cortex-acc";
};

&soc {
	cryptobam: dma@704000 {
		status = "disabled";
	};

	crypto: crypto@73a000 {
		status = "disabled";
	};

	dbm_1p5: dbm@0x8AF8000 {
		status = "disabled";
	};

	qcom,usbbam@8B04000 {
		status = "disabled";
	};

	qcom,diag@0 {
		status = "disabled";
	};

	blsp_dma: dma@7884000 {
		status = "disabled";
	};

	dcc: dcc@b3000 {
		status = "disabled";
	};

	tcsr_mutex_block: syscon@1905000 {
		status = "disabled";
	};

	tcsr_mutex: hwlock@1905000 {
		status = "disabled";
	};

	smem: qcom,smem@4AA00000 {
		status = "disabled";
	};

	glink_modem: qcom,glink-smem-native-xprt-modem@4AA00000 {
		status = "disabled";
	};

	glink_adsp: qcom,glink-smem-native-xprt-adsp@4AA00000 {
		status = "disabled";
	};

	glink_rpm: qcom,glink-rpm-native-xprt@60000 {
		status = "disabled";
	};

	rpm_bus: qcom,rpm-glink {
		status = "disabled";
	};

	ipc_router: qcom,ipc_router {
		status = "disabled";
	};

	ipc_router_modem: qcom,ipc_router_modem_xprt {
		status = "disabled";
	};

	ipc_router_adsp: qcom,ipc_router_adsp_xprt {
		status = "disabled";
	};

	apcs: syscon@b111000 {
		status = "disabled";
	};

	wcss: smp2p-wcss {
		status = "disabled";
	};

	adsp: smp2p-adsp {
		status = "disabled";
	};

	q6v5_wcss: q6v5_wcss@CD00000 {
		status = "disabled";
	};

	q6v5_m3: q6v5_m3 {
		status = "disabled";
	};

	q6v6_adsp: q6v6_adsp@AB00000 {
		status = "disabled";
	};

	glink_mpss_ssr: qcom,glink-ssr-modem {
		status  = "disabled";
	};

	glink_adsp_ssr: qcom,glink-ssr-adsp {
		status = "disabled";
	};

	qpic_bam: dma@7984000 {
		status = "disabled";
	};

	qcom,sps {
		status = "disabled";
	};

	sdcc1_ice: sdcc1ice@7808000 {
		status = "disabled";
	};

	edma@3ab00000 {
		status  = "disabled";
	};

	nss-common {
		status = "disabled";
	};

	nss0: nss@40000000 {
		status = "disabled";
	};

	nss_crypto: qcom,nss_crypto {
		status = "disabled";

		eip197_node {
			status = "disbled";
		};
	};

	watchdog: watchdog@b017000 {
		status = "disabled";
	};

	ess-switch@3a000000 {
		status = "disabled";
	};

	wifi0: wifi@c000000 {
		status = "disabled";
	};

	msm_imem: qcom,msm-imem@8600000 {
		mem_dump_table@10 {
			status = "disabled";
		};
	};

	qca,scm_restart_reason {
		status = "disabled";
	};
};

&pmuv8 {
	status = "disabled";
};

&firmware {
	scm {
		status = "disabled";
	};

	qfprom {
		status = "disabled";
	};
};

&tlmm {
	uart_pins: uart_pins {
		mux {
			pins = "gpio44", "gpio45";
			function = "blsp2_uart";
			drive-strength = <2>;
			bias-pull-down;
		};
	};
};

&blsp1_uart3 {
	pinctrl-0 = <&uart_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&tmc_etr {
	status = "disabled";
};

&replicator {
	status = "disabled";
};

&tmc_etf {
	status = "disabled";
};

&funnel_in0 {
	status = "disabled";
};

&funnel_center {
	status = "disabled";
};

&funnel_right {
	status = "disabled";
};

&funnel_apss0 {
	status = "disabled";
};

&etm0 {
	status = "disabled";
};

&etm1 {
	status = "disabled";
};

&etm2 {
	status = "disabled";
};

&etm3 {
	status = "disabled";
};

&rpm_etm0 {
	status = "disabled";
};

&stm {
	status = "disabled";
};

&cti0 {
	status = "disabled";
};

&cti1 {
	status = "disabled";
};

&cti2 {
	status = "disabled";
};

&cti3 {
	status = "disabled";
};

&cti4 {
	status = "disabled";
};

&cti5 {
	status = "disabled";
};

&cti6 {
	status = "disabled";
};

&cti7 {
	status = "disabled";
};

&cti8 {
	status = "disabled";
};

&cti9 {
	status = "disabled";
};

&cti10 {
	status = "disabled";
};

&cti11 {
	status = "disabled";
};

&cti12 {
	status = "disabled";
};

&cti13 {
	status = "disabled";
};

&cti14 {
	status = "disabled";
};

&cti15 {
	status = "disabled";
};

&cti_cpu0 {
	status = "disabled";
};

&cti_cpu1 {
	status = "disabled";
};

&cti_cpu2 {
	status = "disabled";
};

&cti_cpu3 {
	status = "disabled";
};

&cti_rpm_cpu0 {
	status = "disabled";
};

&csr {
	status = "disabled";
};

&dbgui {
	status = "disabled";
};

&tpda {
	status = "disabled";
};

&tpdm_dcc {
	status = "disabled";
};

&hwevent {
	status = "disabled";
};
