// SPDX-License-Identifier: GPL-2.0
/*
 * SC7180 IDP board device tree source
 *
 * Copyright (c) 2019, The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "sc7180.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SC7180 IDP";
	compatible = "qcom,sc7180-idp";

	aliases {
		serial0 = &uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&qupv3_id_0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&qup_uart2_default {
	pinconf-tx {
		pins = "gpio44";
		drive-strength = <2>;
		bias-disable;
	};

	pinconf-rx {
		pins = "gpio45";
		drive-strength = <2>;
		bias-pull-up;
	};
};

&sdhc_1 {
	status = "ok";

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc1_on>;
	pinctrl-1 = <&sdc1_off>;
	vmmc-supply = <&src_pp2960_l19a>;
	vqmmc-supply = <&src_pp1800_l12a>;

	max-frequency = <100000000>;

	/delete-property/ mmc-hs200-1_8v;
	/delete-property/ mmc-hs400-1_8v;
	/delete-property/ mmc-hs400-enhanced-strobe;
};

&usb_1 {
	status = "okay";
};

&usb_1_dwc3 {
	dr_mode = "host";
};

&usb_1_hsphy {
	status = "okay";
	vdd-supply = <&vdda_usb1_ss_core>;
	vdda-pll-supply = <&vdda_qusb_hs0_1p8>;
	vdda-phy-dpdm-supply = <&vdda_qusb_hs0_3p1>;
	qcom,imp-res-offset-value = <8>;
	qcom,hstx-trim-value = <QUSB2_V2_HSTX_TRIM_21_6_MA>;
	qcom,preemphasis-level = <QUSB2_V2_PREEMPHASIS_5_PERCENT>;
	qcom,preemphasis-width = <QUSB2_V2_PREEMPHASIS_WIDTH_HALF_BIT>;
};

&usb_1_qmpphy {
	status = "okay";
	vdda-phy-supply = <&vdda_usb1_ss_1p2>;
	vdda-pll-supply = <&vdda_usb1_ss_core>;
};
&pm6150l_gpios {
	disp_pins {
		disp_pins_default: disp_pins_default{
			pins = "gpio3";
			function = "func1";
			qcom,drive-strength = <2>;
			power-source = <0>;
			bias-disable;
			output-low;
		};
	};
};

&dsi0 {
	status = "okay";

	vdda-supply = <&src_pp1200_l3c>;

	panel@0 {
		compatible = "visionox,rm69299-1080p-display";
		reg = <0>;

		vdda-supply = <&src_pp1800_l8c>;
		vdd3p3-supply = <&src_pp2800_l18a>;

		pinctrl-names = "default", "suspend";
		pinctrl-0 = <&disp_pins_default>;
		pinctrl-1 = <&disp_pins_default>;

		reset-gpios = <&pm6150l_gpios 3 0>;

		display-timings {
			timing0: timing-0 {
				/* originally
				 * 268316160 Mhz,
				 * but value below fits
				 * better w/ downstream
				 */
				clock-frequency = <158695680>;
				hactive = <1080>;
				vactive = <2248>;
				hfront-porch = <26>;
				hback-porch = <36>;
				hsync-len = <2>;
				vfront-porch = <56>;
				vback-porch = <4>;
				vsync-len = <4>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				panel0_in: endpoint {
					remote-endpoint = <&dsi0_out>;
				};
			};
		};
	};

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&panel0_in>;
				data-lanes = <0 1 2 3>;
			};
		};
	};
};

&dsi0_phy {
	status = "okay";
};
